/* .clock {
    width: 500px;
    height: 500px;
} */

.main-container {
    /* text-align: center; */
    display: flex;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.buttons-container label, .buttons-container input {
    cursor: pointer;
    border-radius: 5px;
}

.user-button{
    margin: 5px;
    color: #3a332e;
}



@media (max-width: 550px) {

    .clock {
        width: 350px;
        height: 350px;
    }
}



@media (max-width: 340px) {

    .clock {
        width: 200px;
        height: 200px;
    }
}

@media (max-height: 560px) {

    .clock {
        width: 400px;
        height: 400px;
    }
}

@media (max-height: 450px) {

    .clock {
        width: 350px;
        height: 350px;
    }
}

@media (max-height: 410px) {

    .clock {
        width: 300px;
        height: 300px;
    }
}